*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
html{
  height: 100%; overflow: hidden;
  background: url('img/news.jpg'); background-size: cover;
}
body{
  position: absolute; top: 50%; left: 50%;
  margin-left: -475px; margin-top: -275px;
  width: 960px; height: 550px;
  background-color: white; opacity: 0.97;
}
hgroup{font-family: 'Black Han Sans', sans-serif;}
#container{height: 500px;}
#main_navigation>ul{overflow: hidden;}
#main_navigation>ul>li{float: left;}
#main_navigation>ul>li>a{
  display: block; width: 320px; height: 50px;
  font-family: 'Black Han Sans', sans-serif; text-align: center; color: white; font-size: 24px;
  line-height: 50px; background-color: gray;
}
#main_navigation>ul>li:nth-child(1)>a{background-position: 0px 0px;}
#main_navigation>ul>li:nth-child(2)>a{background-position: 0px -100px;}
#main_navigation>ul>li:nth-child(3)>a{background-position: 0px -200px;}
/*눌렀을 때*/
#main_navigation>ul>li:nth-child(1)>a:hover{background-position: 0px -50px;}
#main_navigation>ul>li:nth-child(2)>a:hover{background-position: 0px -150px;}
#main_navigation>ul>li:nth-child(3)>a:hover{background-position: 0px -250px;}
/*상단 바*/
#title{
  position: absolute; left: 0; top: -48px;
  width: 240px; height: 48px; overflow: hidden;
}
#title>h1{
  position: absolute; left: 0; top: 48px;
  width: 240px; height: 48px; font-size: 32px; padding-top: 3px;
  background-color: lightgray; text-align: center; /*text-indent: -9999px;*/
  transition-duration: 1s;
}
#title>h1.active{top: 0;}
#title>h1:nth-child(1){background-position: 0px 0px;}
#title>h1:nth-child(2){background-position: 0px -48px;}
#title>h1:nth-child(3){background-position: 0px -96px;}
/*내용*/
#container{
  position: relative; width: 100%; padding: 0 40px; margin-left: -40px;
  height: 500px; overflow: hidden;
}
#main>h1{font-family: 'Black Han Sans', sans-serif; font-size: 45px; padding-left: 10px; padding-top: 10px;}
#profile{width: 500px; position: relative; float: left;}
#profile>h2{font-family: 'Black Han Sans', sans-serif;}
#profile>img{float: left; width: 155px; padding-right: 10px;}
.article{
  position: relative; float: left;
  padding: 3px 3px 3px 3px; width: 470px;
}
.article{font-family: 'Black Han Sans', sans-serif;}
.article>p{font-family: 'Noto Sans KR', sans-serif; padding-right: 15px; text-indent: 0.5em; font-weight: bold;}
div[data-name]{ /*내용 창*/
  position: absolute; left: 40px; top: 550px;
  width: 960px; height: 500px;
  padding: 10px 10px 10px 10px;
  transition-duration: 1s;
}
div[data-name].active{top: 0;}
#chart{width: 470px; border: 3px solid black;}
.bar{
  width: 10px; height: 50px;
  background-color: gray; margin: 5px;
  transition-property: background-color, width;
  transition-duration: 1s, 4s;
}
#chart:hover>.bar:nth-child(1){background-color: #fff200; width: 100px;}
#chart:hover>.bar:nth-child(2){background-color: #7efff5; width: 400px;}
#chart:hover>.bar:nth-child(3){background-color: #ffaf40; width: 300px;}
#intro{width: 450px; float: right; position: relative;}
#intro>p{font-family: 'Noto Sans KR', sans-serif; padding-right: 50px; text-indent: 1em; font-weight: bold;}
#intro>h3{font-family: 'Black Han Sans', sans-serif; padding-right: 50px; color: red; font-size: 1.5em; padding-top: 10px;}
