
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */